.App {
  text-align: center;
}

.rectangle {
  height: 7px;
  width: 60px;
  background-color: brown;
  margin: 50px auto;
}

.main-picture {
  height: 200px;
  width: 50%;
  border-radius: 10px;
}

h1 {
  font-size: 45px;
  text-align: center;
  font-weight: 400;
}

.navigation-pictures {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

.navigation-pictures img {
  height: 150PX;
  width: 250px;
  cursor: pointer;
}

.navigation-pictures img:hover {
  scale: 1.1;
  transition: 0.5s;
  box-shadow: 0 8px 100px 0px;
}

.main-link {
  color: rgb(66, 18, 18);
  background-color: white;
  width: 300px;
  height: 200px;
  margin-top: 20px;
  padding: 20px 0;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto';
}

.video {
  margin-left: 35%;
}

.facebook-button img {
  height: 30px;
  padding: 20px 10px;
}

.facebook-button span {
  position: relative;
  top: -30px;
  height: 30px;
  color: #fff;
}

.facebook-button :hover {
  color: #268cc7;
  cursor: pointer;
}

.linkedin-button img {
  height: 30px;
  padding: 20px 10px;
}

.linkedin-button span {
  position: relative;
  top: -30px;
  height: 30px;
  color: #fff;
}

.linkedin-button :hover {
  color: #268cc7;
  cursor: pointer;
}

.homepage-button img {
  height: 30px;
  padding: 20px 10px;
}

.homepage-button span {
  position: relative;
  top: -30px;
  height: 30px;
  color: #fff;
}

.homepage-button :hover {
  color: #268cc7;
  cursor: pointer;
}

.courses {
  text-align: center;
}

.hobbies {
  text-align: center;  
}

.work {
  text-align: center;  
}

.udemy-aktiivne {
  background-color: greenyellow;
  margin: 5px;
  padding: 5px;
  color: black;
  font-weight: 700;
  border-radius: 6px;
  border-color: greenyellow;
}

.udemy-mitteaktiivne {
  background-color: yellow;
  margin: 5px;
  padding: 5px;
  color: black;
  font-weight: 700;
  border-radius: 6px;
  border-color: greenyellow;
}

.coursera-aktiivne {
  background-color: greenyellow;
  margin: 5px;
  padding: 5px;
  color: black;
  font-weight: 700;
  border-radius: 6px;
  border-color: greenyellow;
}

.coursera-mitteaktiivne {
  background-color: yellow;
  margin: 5px;
  padding: 5px;
  color: black;
  font-weight: 700;
  border-radius: 6px;
  border-color: greenyellow;  
}

.codecademy-aktiivne {
  background-color: greenyellow;
  margin: 5px;
  padding: 5px;
  color: black;
  font-weight: 700;
  border-radius: 6px;
  border-color: greenyellow;
}

.codecademy-mitteaktiivne {
  background-color: yellow;
  margin: 5px;
  padding: 5px;
  color: black;
  font-weight: 700;
  border-radius: 6px;
  border-color: greenyellow;  
}

.udacity-aktiivne {
  background-color: greenyellow;
  margin: 5px;
  padding: 5px;
  color: black;
  font-weight: 700;
  border-radius: 6px;
  border-color: greenyellow;
}

.udacity-mitteaktiivne {
  background-color: yellow;
  margin: 5px;
  padding: 5px;
  color: black;
  font-weight: 700;
  border-radius: 6px;
  border-color: greenyellow;
}