.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin: 10px;
}

.product {
    border: 1px solid lightgray;
    padding: 5px;
}

.product img {
    height: 150px;
    width: 150px;
    margin: 10px;
    transition: 1s;
}

.product:hover img {
    transform: scale(1.2);
    transition: 0.5s;

}

.product div:nth-child(2) {
    height: 70px;
    font-weight: 500;

}

.product div:nth-child(3) {
    font-weight: 600;
    font-size: 23px;
    color: #1565c0;
    padding-bottom: 10px;
    transition: 1s;
}

.product:hover div:nth-child(3) {
    transform: scale(1.3);
    transition: 0.5s;
}