.login-form {
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
    background-color: rgb(224, 224, 195);
    border-radius: 40px;
    padding: 30px;
}

.signup-form {
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
    background-color: rgb(224, 224, 195);
    border-radius: 40px;
    padding: 30px;
}

.mb-3 {
    text-align: left;
    font-weight: 500;
    
}