.App {
  text-align: center;
}

.nupp {
  color: rgb(161, 157, 157);
  background-color: rgb(58, 201, 58);
}

.nupp:hover {
  height: 100px;
}

.nupp:active {
  cursor: grab;
}

.text1 {
  color: blue;
  font-style: italic;
}

.text1:hover {
  font-size: 24px;
}

.text2 {
  color: green;
  font-weight: bold;
  text-shadow: -1px 1px 0 red,
                1px 1px 0 red,
                1px -1px 0 red,
                -1px -1px 0 red;
}

.text2:hover {
  text-shadow: -1px 1px 0 brown,
                1px 1px 0 brown,
                1px -1px 0 brown,
                -1px -1px 0 brown;
}

.pilt {
  height: 100px;
  float: right;
}

.pilt:hover {
  cursor: pointer;
  border-radius: 30px;
}

.pilt:active {
  opacity: 70%;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}


.lds-ring {
  /* change color here */
  color: #3739ad;
}
.lds-ring,
.lds-ring div {
  box-sizing: border-box;
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 50px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 54px;
  height: 54px;
  margin: 8px;
  border: 8px solid currentColor;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: currentColor transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}