.App {
  text-align: center;
}

.Header-logo {
  height: 70px;
  padding: 1rem;
  /* border-radius: 10px; */
}

.Header-logo:hover {
  opacity: 70%;
  cursor: pointer;
}

.Header-logo:active {
  transform: scale(0.95)
}

.nupp1 {
  background-color: greenyellow;
  margin: 3px;
  padding: 7px;
  color: black;
  font-weight: 700;
  border-radius: 4px;
  /* border-color: greenyellow; */
  border: none;
}

.nupp1:hover {
  cursor: pointer;
  background-color: green;
  color: white;
  /* border-color: green; */
  border: none;
}

.nupp1:active {
  text-decoration: underline;
}

div {
  font-weight: 400;
  font-size: 20px;
}

.keel {
  font-weight: bold;
}

.keel:hover {
  color: blue;
}

.keel-aktiivne {
  color: green;
  font-weight: bold;
}

.teade {
  font-style: italic;
}
.summa-aktiivne {
  color: rgb(235, 78, 173);
  border: 2px solid rgb(227, 6, 140);

  font-size: 30px;
  border-radius: 5px;
}

.summa {
  font-size: 30px;
  border-radius: 5px;
}

.kuldne {
  color: goldenrod;
}

.linn {
  font-size: 20px;
}
.linn:hover {
  text-decoration: underline;
  color: blueviolet;
  cursor: pointer;
}

.linn-aktiivne {
  font-size: 20px;
  text-decoration: underline;
  text-decoration-color: blueviolet;
}

.linn-aktiivne:hover {
  color: blueviolet;
  cursor: pointer;
}