.App {
  text-align: center;
}

.App-dark {
  background-color: black;
  text-align: center;
  color: white;
  min-height: 100vh;
}

.Header-logo {
  height: 70px;
  padding: 1rem;
  /* border-radius: 10px; */
}

.Header-logo:hover {
  opacity: 70%;
  cursor: pointer;
}

.Header-logo:active {
  transform: scale(0.95)
}

.nupp1 {
  background-color: greenyellow;
  margin: 3px;
  padding: 7px;
  color: black;
  font-weight: 700;
  border-radius: 4px;
  /* border-color: greenyellow; */
  border: none;
}

.nupp1:hover {
  cursor: pointer;
  background-color: green;
  color: white;
  border: none;
}

.nupp1:active {
  text-decoration: underline;
}

div {
  font-weight: 400;
  font-size: 20px;
}

.keel {
  font-weight: bold;
}

.keel:hover {
  color: blue;
}

.keel-aktiivne {
  color: green;
  font-weight: bold;
}

.teade {
  font-style: italic;
}
.summa-aktiivne {
  color: rgb(235, 78, 173);
  border: 2px solid rgb(227, 6, 140);

  font-size: 30px;
  border-radius: 5px;
}

.summa {
  font-size: 30px;
  border-radius: 5px;
}

.kuldne {
  color: goldenrod;
}

.linn {
  font-size: 20px;
}
.linn:hover {
  text-decoration: underline;
  color: blueviolet;
  cursor: pointer;
}

.linn-aktiivne {
  font-size: 20px;
  text-decoration: underline;
  text-decoration-color: blueviolet;
}

.linn-aktiivne:hover {
  color: blueviolet;
  cursor: pointer;
}

.mode-button {
  height: 30px;
  width: 30px;
}

.mode-button:hover {
  cursor: pointer;
  opacity: 70%;
}

.mode-button:active {
  transform: scale(95%);
}

.App-dark .mode-button {
  filter: brightness(0) invert(1);
}

.nuppReset {
  cursor: pointer;
  margin-right: 1rem;
  padding: 7px;
  color: black;
  font-weight: 600;
  border-radius: 4px;
  border: solid red 2px;
}

.nuppReset:hover {
  transform: scale(95%);
}

.nuppFilter {
  cursor: pointer;
  margin: 3px;
  padding: 7px;
  color: black;
  font-weight: 500;
  border-radius: 4px;
  border: solid blueviolet 2px;
}

.nuppFilter:hover {
  transform: scale(95%);
}

.vastusText {
  font-weight: 700;
}

.nuppKeskmineHind {
  cursor: pointer;
  margin: 3px;
  padding: 7px;
  color: black;
  font-weight: 500;
  border-radius: 4px;
  border: solid blueviolet 2px;
}

.nuppKeskmineHind:hover {
  transform: scale(95%);
}

table {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

th, td {
  border: 1px solid black;
}

.aktiivne {
  background-color: rgb(166, 207, 166);
}

.mitteaktiivne {
  background-color: rgb(211, 147, 147);
}

.map {
  height: 600px;
  /* margin-left: 10%;
  margin-right: 10%; */
  /* sama asi aga lühemalt --->  margin: 0 10% */
  margin: 0 20%;
  border-radius: 20px;
}