.App {
  text-align: center;
}

.Header-logo {
  margin-left: 35%;
  height: 70px;
  padding: 1rem;
 /* width: 70px;*/
  border-radius: 10px;
}

.Header-logo:hover {
  opacity: 70%;
  cursor: pointer;
}

.Header-logo:active {
  transform: scale(0.95)
}

.valitud {
  font-weight: bold;
}

.kontakt {
  font-weight: bold;
}